<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.muster.quickaction.startNewTrack</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Start new track</string>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypePlay</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.muster.quickaction.import</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Import</string>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeAdd</string>
		</dict>
	</array>
</dict>
</plist>
